* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, Source Han Sans CN;
    font-size: 17px;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    background: rgba(34, 36, 54, 0.9);
}

widget label {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
}

window {
    color: rgba(217, 216, 216, 1);
}

/* window#waybar.solo { */
/*     background: rgba(1, 1, 1, 0.40); */
/* } */

/* #workspaces {} */

#workspaces button {
    color: rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid #9aedfe;
    color: #9aedfe;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    /* border: 1px solid #12dada; */
    color: #ff79c6;
}

#workspaces button.urgent {
    color: rgba(238, 46, 36, 1);
}

#network {
    color: #4d4d4d;
    background: #82aaff;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#power-profiles-daemon,
#custom-brightness {
    min-width: 25px;
}

#clock {
    color: #4d4d4d;
    background: #4fd6be;
}

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#pulseaudio {
    color: #4d4d4d;
    background: #c099ff;
}

#custom-brightness {
    color: #4d4d4d;
    background: #ff79c6
}

#cpu {
    color: #4d4d4d;
    background: #ffc777;
}

#power-profiles-daemon {
    padding-left: 0px;
    padding-right: 5px;
    border-radius: 0px;
    /* color: rgba(217, 216, 216, 1); */
}

#power-profiles-daemon.performance {
    color: #ff757f;
}

#power-profiles-daemon.balanced {
    color: #1793d1;
}

#power-profiles-daemon.power-saver {
    color: #00ff00;
}

#battery {
    color: #4d4d4d;
    background: #ff757f;
}

#memory {
    color: #4d4d4d;
    background: #c3e88d;
}

#tray {
    padding-left: 10px;
    color: #4d4d4d;
}
